.header {
    height: 70px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

    padding: 0 30px;

    background: white;
    border-bottom: 1px solid #E5E7EB;
}

.header-left h1 {
    position: relative;
    font-size: 1.8rem;
    color: #102A43;
}

.header-right {
    display: flex;
    position: relative;
    align-items: center;
    gap: 15px;
}
.search-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 260px;
}

.search-box svg {
  position: absolute;
  left: 14px;
  pointer-events: none;
}
.icon{
    color: #6B7280;
    height: 20px;
    width: 20px;
}

.search-box input {
    width: 100%;

    padding: 10px 14px 10px 40px;

    border: 1px solid #D1D5DB;
    border-radius: 8px;

    font-size: 15px;
}

.search-box input:focus {
    outline: none;
    border-color: #0F766E;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;

    border: none;
    border-radius: 50%;
    background: #ffffff;
    padding: 0px;
    cursor: pointer;

    transition: .2s;
}

.icon-button:hover {
    background: #E5E7EB;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-avatar {
    width: 42px;
    height: 42px;

    border-radius: 50%;

    background: #0F766E;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.user-menu select {
    border: none;
    background: transparent;

    font-size: 15px;
    cursor: pointer;
}

.user-menu select:focus {
    outline: none;
}